.btn {
  border: none;
  background: #ffbe33;
  padding: 0.8rem 3rem;
  border-radius: 4.5rem;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  box-shadow: inset 0 0 15px 25px orange;
}
