.slide {
  position: relative;
  width: 300%;
  display: flex;
  margin: 16rem 10% 8rem 10%;
  left: 0;
  transition: left 1s;
  height: 40vh;
  overflow: hidden;
}

.icons {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.icon {
  cursor: pointer;
  margin-right: 0.5rem;
}

.active {
  transform: scale(1.2);
  width: 16px;
  height: 16px;
  background: orange;
  border-radius: 50%;
  margin-right: 0.5rem;
}
